Worflow_Perfex_CRM.json
{
  "name": "Worflow Perfex CRM",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Coloque Informações').item.json[\"Url Perfex\"] }}/api/leads",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=authtoken",
              "value": "={{ $('Coloque Informações').item.json[\"Token Perfex\"] }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "source",
              "value": "1"
            },
            {
              "name": "status",
              "value": "1"
            },
            {
              "name": "name",
              "value": "={{ $('Coloque Informações').item.json[\"Nome\"] }}"
            },
            {
              "name": "phonenumber",
              "value": "={{ $('Coloque Informações').item.json[\"Numero de Telefone\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9576d154-2378-4181-8c4b-885c7b7fdcc0",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -580,
        680
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Coloque Informações').item.json['Numero de Telefone'] }}",
              "value2": "={{ $json.phonenumber }}"
            }
          ]
        }
      },
      "id": "8f771685-0aa3-4968-94b2-609c0a2a4418",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -860,
        560
      ]
    },
    {
      "parameters": {},
      "id": "aa3caecf-d18b-4354-bb4f-df3a675c6a0b",
      "name": "No Operation, do nothing",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -580,
        380
      ]
    },
    {
      "parameters": {
        "url": "={{ $json[\"Url Perfex\"] }}/api/leads/search/{{ $json.Numero }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "authtoken",
              "value": "={{ $json['Token Perfex'] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "14a5473d-53a2-4736-bf61-4107df71a536",
      "name": "Captura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        -1080,
        560
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "Url Perfex",
              "value": "=https://seudominio.com.br"
            },
            {
              "name": "Token Perfex",
              "value": "=Seu Token Perfex"
            },
            {
              "name": "Nome",
              "value": "={{ $json.body.name }}"
            }
          ],
          "number": [
            {
              "name": "Numero de Telefone",
              "value": "={{ $json.body.identifier }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4d6fc0ea-0868-4575-bed7-6e75dfdd1ca2",
      "name": "Coloque Informações",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1520,
        560
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Numero",
              "value": "={{ $json['Numero de Telefone'].replace(/[\\D]/gi, \"\")}}"
            }
          ]
        },
        "options": {}
      },
      "id": "edcb886e-6e23-4e8b-94c9-b1532c5cdfc3",
      "name": "Ajusta numero de Telefone",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        -1300,
        560
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "perfex",
        "options": {}
      },
      "id": "77595b95-5b35-4414-8f5f-58da42d3b6e3",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1720,
        560
      ],
      "webhookId": "ae905692-a272-4a40-93f3-65cd0d8baac2"
    }
  ],
  "pinData": {},
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coloque Informações": {
      "main": [
        [
          {
            "node": "Ajusta numero de Telefone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Captura": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ajusta numero de Telefone": {
      "main": [
        [
          {
            "node": "Captura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Coloque Informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "8461243b-a392-43ae-bed7-1e4b1bc857bf",
  "id": "21",
  "meta": {
    "instanceId": "c1d85c6e4bc8af8e81ca39a4929ddc8441c88a883b07fbb3363376f1b123e457"
  },
  "tags": [
    {
      "createdAt": "2023-06-09T22:05:08.285Z",
      "updatedAt": "2023-06-09T22:05:08.285Z",
      "id": "4",
      "name": "EngajamentoFlow"
    },
    {
      "createdAt": "2023-06-09T22:05:41.707Z",
      "updatedAt": "2023-06-09T22:05:41.707Z",
      "id": "6",
      "name": "CHATWOOT"
    }
  ]
}